# Build results
bin/
obj/

# macOS files
.DS_Store

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider IDE
.idea/

# NuGet packages
*.nupkg
**/[Pp]ackages/*

# Coverlet coverage reports
*.opencover.xml
coverage*.json
coverage*.xml
